*{
    margin: 0;
    padding: 0;
}
h3{
   font-size: 35px;
}
p{
    font-size: 25px;
}
.bar{
    z-index: 26;
    width: 100%;
    margin-top: 0; 
}
#indexSection_3 h1{
    font-size: 50px;
}
.selected{
    border: 3px solid red;
}
body{
    background-color: grey;
    font-family: "Arial Black";
}
.burger {
  background-color: #ff3264;
}
 
.burger span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}
.burger span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
 
.burger span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#burg a{
    height: 40px;
}
#burg{
width: 99%;
    background-color: #232323;
    padding: 7.5px 0px 7.5px 1%;
    display: inline-flex;
}
#desktop{
    display: none;
}
span{
    display: flex;
    margin: 8px;
    height: 2px;
    z-index: 5;
    width: 30px;
    background-color: darkgray;
}
.mobile-tab{
    width: 100%;
    flex-direction: column;
    background-color: pink;
    position: absolute;
    z-index: 25; 
}
.logo a{
    text-decoration: none;
    color: pink;
}
.mobile-tab li{
    margin: 5% 5% 5% 5%;
    transition: all 0.5 ease-in-out;
}
ul{
    padding-bottom: 2%;
    padding-top: 2%;
}
li:hover{
    opacity: 0.1;
}
.mobile-tab a{
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}
.logo{
    font-family: Impact;
    vertical-align: middle;
    letter-spacing: 1px;
    z-index: 10;
    padding-top: 0;
}
#line{
    height: 100%;
    width: 2px;
    background: pink;
}
#main_logo_desktop_li{
    padding: 0;
    width: 140px;
}
#index_h{
    margin-top: 50px;
    background-image: url("../img/ff.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-attachment: fixed;
    margin: 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
}
#index_h h1{
    margin: 0;
    width: 100%;
    letter-spacing: 1px;
}
#index_h h3{
    width: 100%;
    margin: 0;
    letter-spacing: 1px;
    margin-top: -0.5em;
    color: pink;
}
#indexSection_1{
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background-color: pink;
    background-image: url("../img/ooo.png");
    background-size: 45% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#indexSection_2{
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(160,170,200);
}
#section_1_and_2{
    display: flex;
    flex-wrap: wrap;
}
#indexSection_1 p{
    text-align: center;
    color: #FFFFFF;
}
#indexSection_2 p{
    text-align: center;
}
#indexSection_3 div{
}
#indexSection_3 h1{
    text-align: center;
} 
.alsoItem{
    text-align: center;
    border-radius: 25px;
    width: 85%;
    margin-left: 7.5%;
    background-repeat: no-repeat; 
}
#index_also_1{
  background-image: url("../img/Laakkonen_sami_photos_v2_x4.jpg");
  background-size: 225% auto;
}      
#index_also_2{  
    background-image: url(../img/transport-vector_photos_v2_x4.jpg);
    background-size: 235% auto;
}
#index_also_3{  
    background-image: url(../img/bigstock-Modern-Keyboard-With-Colored-S-68403502.jpg);
    background-size: 225% auto;
}
#indexSection_2 br {
      display: none;
   }
#Section_podval{
    box-sizing: border-box;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 50px;
    padding-top: 50px;
}
#Section_podval p{
    letter-spacing: 1px;
    text-align: center;
    color: darkgrey;
}
#indexSection_3 div{
    background-position: center;
}
@media screen and (min-width: 769px){
    .mobile-tab,#burg,#mobile{
        display: none;
    }
    #indexSection_2 br {
      display: block;
   }
    #main_logo_desktop{
        height: 100%;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }
    .bar{
        width: 100%;
        background: #232323;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #desktop{
        display: flex;
    }
    a{
        text-decoration: none;
        color: #C3C3C3;
    }
    ul{
        display: inline-flex;
        list-style-type: none;
        padding: 0 20px 0 0;
    }
    li{
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 1px;
        padding: 20px 20px;
        width: 100px;
        background: #232323;
        transition: all 0.2s ease-in-out;
    }
    #typical_li:hover{
        background: #FFFFFF;
        opacity: 0.9;
    }#big_li:hover{
         background: #FFFFFF;
         opacity: 0.9;
     }
    li:hover a{
        color: pink;
    }
    #indexSection_1{
    width: 70%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background-color: pink;
    background-image: url("../img/ooo.png");
    background-size: 45% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#indexSection_2{
    width: 30%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(160,170,200);
}
}
